@model  Dictionary<int, string>


<!-- Vista del pagomatico-->
<seccion id="VistaPagomatico" class="margenSection  card col-12  offset-md-1 col-md-10 text-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <br />
    <div class="col-5 text-left">
        <button type="button" class="btn btn-success btn text-center" onclick="RegresarIndexFoliacionDesdePagomatico()"> <i class="fas fa-arrow-left"></i>  Regresar</button>
    </div>
    <br />
    <div class="col-12  text-center">

        <hr class="linea col-10 " />
    </div>

    <div class="margenSection row">

        <div class="btn-block">
            <h3>QUINCENA A FOLIAR EN PAGOMATICO</h3>
            <h5 id="QuincenaPagoMatico" class="azul">@ViewBag.NumeroQuincena</h5>
            <br />
        </div>

        <div class=" col-12 offset-md-3 col-md-6 text-center">
            <form>
                <label> Selecciona una opcion : </label>
                <div>
                    <label class="btn  btn-outline-primary" onclick="CheckNomina()">
                        <input id="checkNomina" type="checkbox" autocomplete="off"> &nbsp Por Nomina &nbsp
                    </label>
                    <label class="btn  btn-outline-primary " onclick="CheckTodasNominas()">
                        <input id="checkTodasNominas" type="checkbox" autocomplete="off">&nbsp Todas las Nominas
                    </label>

                </div>
            </form>
            <br />
        </div>

        <div class="col-12 offset-md-1 col-md-10 text-center">

            <div id="mainselection" class="form-group">
                <select class="form-control " id="SeleccionarNominaFoliar" required style="display: none;  ">
                    <option value="" disabled selected>Selecciona una Nomina...</option>
                    @foreach (var nuevaNomina in Model)
                    {
                        <option value="@nuevaNomina.Key">@nuevaNomina.Value </option>
                    }
                </select>
            </div>
        </div>






        <div class="margenSection col-12">

            <div class="table-responsive">

                <div id="TablaEsFoliada">

                    <table id="DetallesSiEstaFoliadaNominas" class='table table-striped table-bordered table-hover' style="display:none">
                        <caption class="text-uppercase"> Resumen de Nomina </caption>
                        <thead class="tabla">
                            <tr class="text-center text-uppercase">

                                <th>Id Nom </th>
                                <th>N nomina</th>
                                <th>Adicional</th>
                                <th>Nombre nomina</th>
                                <th>Registros a foliar</th>
                                <th>Esta Foliada</th>
                                <th>Esta Foliada</th>

                            </tr>
                        </thead>


                    </table>

                </div>
            </div>

        </div>


    </div>







    <div class="col-12 text-center" id="DetalleTodasLasNominas" style="display:none">
        <button type="button" class="btn btn-lg btn-success" onclick="VerificarPagomaticoTodasNominas()"><i class="fas fa-poll"></i>  Ver detalles de nominas  <i class="fas fa-poll"></i></button>

    </div>

    <div class="col-12 text-center" id="VerificarNomina" style="display:none">
        <button type="button" class="btn btn-lg btn-success" onclick="VerificarNominaPagomatico()">  Ver detalle de nomina  <i class="fas fa-poll"></i>  </button>
    </div>
    </br>


    <br>


    <hr class="linea" />





</seccion>



<style>
    dd {
        display: block;
        margin-left: 40px;
    }


    #mainselection select {
        border: 0;
        color: rgb(0, 123, 255);
        background: transparent;
        font-size: 16px;
        font-weight: bolder;
        background: #ffffff;
        text-align: left;
    }

    #mainselection {
        border-radius: 9px 9px 9px 9px;
        box-shadow: 1px 1px 10px #017BFF;
    }
</style>



